.block {
  display: flex;
  justify-content: space-evenly;
}

.box1 {
  height: 100vh;
  width: 100vh;
  background-color: $dark;
}

.box2 {
  background-color: lighten($color: $dark, $amount: 20);
  height: 100vh;
  width: 100vh;
  justify-content: left;
}
