.img-fondo{
    height: 90%;
    margin-left: 1rem;
    @media screen and (max-width: 700px){
            height: 0px;
            width: 0px;
    }
    
    
}

// .card-image{
    
//     // @media screen and (max-width: 700px){
//     //     display: none;
//     // }
// }


.card-content{
    align-items: center;
    display: flex;
    height: 300px;
    overflow: hidden;
}

.about-footer{
    margin-left: 1rem;
}