
.profile-container{

    img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 2px solid $white;

        @media screen and (max-width: 700px){
            height: 150px;
            width: 150px;
        }
    }
}

.nav-container{
    // overflow: hidden;
    padding-top: 1rem;
    height: 100vh;
    position: fixed;
    
    
}

.nav {
    align-items: center;
    background-color: darken($color: $grey, $amount: 20);
    // border-right:1px solid $white ;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    text-align: center;
    width: 280px;
    
    
    
    
    
    
    
}

.nav-item{
    
    background-color: $dark;
    color: $white;
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin: 1rem;
    width: 180px;
    box-shadow: 2px 2px 0px 0px $white;
    border-radius: 1rem;
    @media screen and (max-width: 700px){
        // height: 150px;
        width: 150px;

    }

   
}

