
.profile-container{

    img{
        height: 200px;
        width: 250px;
        border-radius: 30%;
        border: 2px solid $white;
    }
}

.nav-container{
    ul{
        margin-left: -40px;
    }
}

.nav {
    align-items: center;
    background-color: $grey-ligth;
    border-right:1px solid $white ;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 300px;

    
    
}

.nav-item{
    
    background-color: $dark;
    color: $white;
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin-top: 18px;
    margin-bottom: 15px;
    width: 290px;
    box-shadow: 2px 2px 0px 0px $white;

    

   
}

