.header {
  text-align: center;

  .home__title {
    color: $dark;
    cursor: pointer;
    position: relative;

    &:hover {
      color: $grey-ligth;
    }
  }
  
}


li{
  background-color: $dark;
  display: inline-block;
  margin: 0 1rem;
  padding: 5px 10px;
  
}
a{
  color: $white;
}



// .typewriter {
//     position: relative;

//     &:after{
//         content: '';
//         border-left: 2px solid $white;
//         background-color: lighten($color: $dark, $amount: 20);
//         right: 0;
//         height: 100%;
//         position: absolute;

//         animation: write 2s forwards steps(16);
//     }

//     @keyframes write {
//         from{
//             width: 100%;
//         }
//         to{
//             width: 0%;
//             border-left:none ;
//         }
//     }
// }
