* {
    box-sizing: border-box;
    // font-family: Helvetica, Arial,  sans-serif;
    font-family: 'Montserrat', sans-serif;
    // overflow: hidden;
    
}

html , body {
    margin: 0;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar-track {
    background: $grey;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: $dark;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    // border: 3px solid $dark;  /* creates padding around scroll thumb */
}

main {
    min-height: 100vh;
    background-color: lighten($color: $dark, $amount: 20);
    color: $white;
    width: 100%;
    
}

// img{
//     overflow: hidden;
// }

.routes{
    display: flex;
}

.mt-1 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 20px;
}

.btn-radio{
    border-radius: 1rem;
}